.godot/
*.import
!YukiMod/images/cards/card_effects/card_disabled_0.png.import
!YukiMod/images/cards/card_effects/card_green_0.png.import
!YukiMod/images/cards/card_effects/card_normal_0.png.import
!YukiMod/images/cards/card_effects/card_red_0.png.import
bin/
obj/
publish/
tmp/
*.pck
*.dll
!windows/libspine_godot.windows.editor.x86_64.dll
!windows/libspine_godot.windows.template_debug.x86_64.dll
!windows/libspine_godot.windows.template_release.x86_64.dll
*.deps.json
*.runtimeconfig.json
.idea/
.vs/
*.suo
*.user
*.userprefs
*.DotSettings.user
packages/
/android/
*cs.uid
.git/
